.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, max-content);
  gap: 16px 18px;
  grid-template-areas:
    "name button-edit"
    "status .";
  max-width: 336px;
  align-items: baseline;
}

@media screen and (max-width: 425px) {
  .profile__info {
    gap: 14px 10px;
    max-height: 54px;
    grid-template-areas:
      "name button-edit"
      "status status";
  }
}
