.popup__input {
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 27px;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.popup__input:focus {
  outline: none;
  border: 2px solid #add8e6;
  border-radius: 4px;
}
