@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__section/content__section.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__status/profile__status.css);
@import url(./blocks/button/button.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__button/_action/profile__button_action_edit.css);
@import url(./blocks/profile/__button/_action/profile__button_action_add.css);
@import url(./blocks/profile/__wraper/profile__wraper.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__button/element__button.css);
@import url(./blocks/element/__button/_action/element__button_action_delete.css);
@import url(./blocks/element/__button/_action/element__button_action_like.css);
@import url(./blocks/element/__button/_action/element__button_action_like_active.css);
@import url(./blocks/element/__likes-wrapper/element__likes-wrapper.css);
@import url(./blocks/element/__likes-number/element__likes-number.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_isopen/popup_isopen.css);
@import url(./blocks/popup/_transition/popup_transition.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_action/popup__button_action_close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_status.css);
@import url(./blocks/popup/__button/_action/popup__button_action_submit.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_show-image/popup_show-image.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__container/_type/popup__container_type_confirm.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirm.css);
@import url(./blocks/popup/_type/popup_type_edit-avatar.css);
@import url(./blocks/profile/__button/_action/profile__button_action_avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar-wraper.css);
